<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

<dubbo:application name="spring-http-project"/>

<!-- 注册中心 -->
<dubbo:registry check="true" protocol="zookeeper" address="${dubbo.registry.addr}" timeout="5000"/>

<dubbo:consumer retries="0" timeout="500" check="false"/>

<dubbo:reference id="testService" interface="com.ws.learn.rpc.service.TestService" retries="0" timeout="5000"/>
</beans>